figure:hover, .red:hover    {
    transform: scale(1.1);
}

.animacionBase  {
    display: inline-block;
    margin: 0 0.5rem;    
}
.animate__zoomInDown, .animate__jackInTheBox  {
    @extend .animacionBase;
    animation-duration: 2s; 
}

.animate__fadeInUp    {
    @extend .animacionBase;
    animation-duration: 2s; 
        &:hover {
            transform: scale(1.1);    
        }        
}

.animate__fadeInRightBig    {
    @extend .animacionBase;
    animation-duration: 1s;
}