figure:hover, .red:hover    {
    transform: scale(1.1);
}

@import "variables.scss";

.animacionBase  {
    display: inline-block;
    margin: 0 0.5rem;    
}
.animate__zoomInDown, .animate__jackInTheBox  {
    @extend .animacionBase;
    animation-duration: $tiempo; 
}

.animate__fadeInUp    {
    @extend .animacionBase;
    animation-duration: calc($tiempo / 2); 
        &:hover {
            transform: scale(1.1);    
        }        
}

.animate__fadeInRightBig    {
    @extend .animacionBase;
    animation-duration: $tiempo;
} 