figure:hover    {
    transform: scale(1.1);
}

.red:hover    {
    transform: scale(1.1);
}

.animate__zoomInDown {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; 
    animation-duration: 2s; 
}