.redes  {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px;
}
.animate__fadeInUp    {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; 
    animation-duration: 2s; 
        &:hover {
            transform: scale(1.1);    
        }        
}
