.navbar {
    background-image: linear-gradient(to bottom, #e2e1e1 0%, white 100%);
}

.footer {
    background-image: linear-gradient(to top, #e2e1e1 0%, white 100%);
}

.accordion-button {
    background-image: linear-gradient(to top, #b8b8b8 0%, white 100%);
}




