.navbar {
    background-image: linear-gradient(to bottom, #e2e1e1 0%, white 100%);
}

.footer {
    background-image: linear-gradient(to top, #e2e1e1 0%, white 100%);
}

.navbar-brand {
    background: -webkit-linear-gradient(#eee, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}