$tiempo: 2s;

/* No se usaron al final por estetica de la pagína pero era para aplicar colores
$redes: ( 
ig: #E4405F,
fb: #1877F2,
wap: #25D366
);

@each $red, $color in $redes {
 .redContacto--#{$red} {
 color: $color;
 }
}


$estilos: (   
 color: #336C1D,
);



.tituloPromo {
 color: map-get($estilos, color);
}

*/
