*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body    {
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
    background-image: url(../img/background-unsplash.jpg);
}

.container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 40px 1fr 20px;
    grid-template-areas:    "nombre nombre  nombre  nombre"    
                            "navbar navbar  navbar  navbar"
                            "main   main    main    main"
                            "footer footer  footer  footer";
}

.nombre   {
    grid-area: nombre;
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
}

.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;   
    background-color: black;
    align-items: center;
}

.navbar a   {
    color: white;
    text-decoration: none;
}

.navItem    {
    padding: 0px 10px 0px 10px;
}
.navItemSelection   {
    padding: 0px 10px 0px 10px;
    font-weight: bold ;
}

.navbar .navItemSelection   {
    color: grey;
}

.navbar a:hover   {
    text-decoration: underline;
}

.main   {
    grid-area: main;
    display: flex;
    justify-content: center;
}

.card   {
    background-color: rgba(217, 217, 217, 0.25);
    margin: 10% ;
    padding: 15% 0% 0% 0%;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__title    {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.card__mascot  {
    width: 250px;
    padding-top: 10%;
}

.card__description  {
    text-align: center;
    margin: 50px 0px 50px 0px;
    padding: 0px 10px 0px 10px;;
}

.figure__img  {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main2d .figures .figure .figure__img   {
    width: 125px; 
    height: auto;
}

.figure__img:hover    {
    transform: scale(1.1);
}

.main2d   {
    grid-area: main;
    display: flex;
    justify-content: center;
}

.mainContacto   {
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form    {
    margin: 5px;
    display: flex;
    justify-content: center;
}
legend  {
    font-size: small;
    margin-bottom: 10px;

}
fieldset    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input   {
    margin: 1px;
}

.enviar {
    width: 100px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    font-family: 'Allerta Stencil', sans-serif;
}

.figures    {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.figure  {
    display: flex;
    flex-direction: column ;
    margin: 10px;
}

.figure__img     {
    width: 200px;
}

.btn    {
    margin-bottom: 20px;
}

.footer {
    grid-area: footer;
    display: flex;
    font-size: 7.5px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.footer a   {
    color: white;
    text-decoration: none;
}

.redes a :hover   {
    transform: scale(1.1);
}

.footer  {
    grid-area: redes ;
    display: flex;
}
.space  {
    width: 100px;
}
.redes a img {
    width: 33px;
}


/*
Celular <576px
Tablet <768px
Compu chica <992px
Compu <1200px
*/
@media(min-width:576px){
    .container  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 75px 40px 1fr 75px;
        grid-template-areas:    "nombre nombre  nombre  nombre"    
                                "navbar navbar  navbar  navbar"
                                "main   main    main    main"
                                "footer footer  footer  footer";
    }
    .nombre   {
        grid-area: nombre;
        font-size: 60px;
    }
    .navbar {
        grid-area: navbar;
        font-size: 24px;   
    }
    .card__title    {
        font-size: 35px;
    }
    .card   {
        padding: 5%;
    }
    .footer {
        grid-area: footer;
        font-size: 15px;
    }
    .redes a img  {
        width: 50px;
        padding-right: 20px; 
    }
    .space  {
        width: 158px;
    }
    .main2d .figures .figure .figure__img   {
        width: 150px; 
        height: auto;
    }
    .card__mascot  {
        width: 300px;
        padding-top: 10%;
    }

}

@media(min-width:768px){
    .container  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 75px 45px 1fr 75px;
        grid-template-areas:    "nombre nombre  nombre  nombre"    
                                "navbar navbar  navbar  navbar"
                                "main   main    main    main"
                                "footer footer  footer  footer";
    }
    .nombre   {
        grid-area: nombre;
        font-size: 82px;
    }
    .navbar {
        grid-area: navbar;
        font-size: 35px;   
    }
    .card__description  {
        font-size: 20px;
    }

    .footer {
        grid-area: footer;
        font-size: 20px;
    }
    .redes a img  {
        width: auto;
    }
    .space  {
        width: 220px;
        
    }
    .main2d .figures .figure .figure__img   {
        width: 200px; 
        height: auto;
    }
    .card__mascot  {
        width: 400px;
        padding-top: 10%;
    }
    legend  {
        font-size: 30px;
        margin-bottom: 15px;
    }
    input   {
        font-size: 15px;
        margin: 3px;
        width: 80%;
    }
}

@media(min-width:992px){
    .container  {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 1fr 75px;
        grid-template-areas:    "nombre navbar"    
                                "main   main"
                                "footer footer";
    }
    .nombre   {
        grid-area: nombre;
        font-size: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 5px;
        background-color: black;
    }
    .navbar {
        grid-area: navbar;
        font-size: 25px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 5px; 
    }
    .card   {
        margin: 5% 20% 10% 20%;
    }
    .card__title    {
        font-size: 45px;
    }
    .card__description  {
        font-size: 30px;
    }
    .footer {
        grid-area: footer;
        font-size: 25px;
    }
    .main2d .figures .figure .figure__img   {
        width: 200px; 
        height: auto;
    }
    legend  {
        font-size: 40px;
    }

}

 @media(min-width:1320px){
    .container  {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 75px 1fr 75px;
        grid-template-areas:    "nombre navbar"    
                                "main   main"
                                "footer footer";
    }
    .nombre   {
        grid-area: nombre;
        font-size: 70px;
    }
    .navbar {
        grid-area: navbar;
        font-size: 30px;
    }
    .card   {
        margin: 5% 20% 5% 20%;
    }


}

@media(min-width:1439px){
    .container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 1fr 75px 50px;
    grid-template-areas:    "nombre nombre  navbar  navbar"    
                            "main   main    main    main"
                            "redes  redes   redes   redes"
                            "footer footer  footer  footer";
    }
    .main2d .figures .figure .figure__img   {
        width: 280px; 
        height: auto;
        margin: 0px 10px 0px 10px;
    }
    figcaption  {
        position: relative;
        right: -10px;  
    }
    .card   {
        margin: 5% 20% 3% 20%;
    }
}